<section class="pagination">
  <% if (currentPage !== 1 && prevPage !== 1) { %>
  <a href="?page=1">1</a>
  <% } %> <% if (hasPrevPage) { %>
  <a href="?page=<%= prevPage %>">< Prev</a>
  <% } %>
  <a href="?page=<%= currentPage %>" class="active"><%= currentPage %></a>
  <% if (hasNextPage) { %>
  <a href="?page=<%= nextPage %>">Next ></a>
  <% } %> <% if (lastPage !== currentPage && nextPage !== lastPage) { %>
  <a href="?page=<%= lastPage %>"><%= lastPage %></a>
  <% } %>
</section>
